
    
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:space-around
}

nav li a{
    display: inline;
    text-decoration:none;
    font size:25px;
      
}



/*Following CSS is to style Landmark page*/

/* 1. Resizing landmark photos*/

.chelseamarket-img {
    height: auto;
    width: 30%;
}

.highline-img{
    height: auto;
    width: 30%;
}

.operahouse-img{
    height: auto;
    width: 30%;
}

.hotelchelsea-img{
    height: auto;
    width: 30%;
}

.hellskitchen-img{
    height: auto;
    width: 30%;
}

/*This is the end of landmark page styling*/