/* ===== RESET ==== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Style for Layout Page ==== */
/*Added this font styling so the home page style with the other pages-*/

html{font-family: 'Open Sans',"Book Antiqua",Palatino sans-serif;

}
header,nav,h1{font-family:'Raleway',Georgia,"Times New Roman" sans-serif;


}

    /* ===== NAVIGATION BAR ==== */    
nav {
 background: #F3D2AE;
} 



 ul {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    /*Fix centering */
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
 

nav ul li {
  float: left;   /* makes block elements behaves like inline elements*/ 
}




nav li a {
    text-decoration:none; /* this removes the links underline*/ 
    color: #02658C;
    display: block;
    padding: 0 20px;
}

nav li a:visited {
    color: lightseagreen;
    text-decoration: line-through;
}

nav li a:hover {
    background-color: white;
    color: #F19D04;
}


    /* ===== HEADER ==== */   
header {
    background: none;
    height: 60px;
    font-family: sans-serif; 
    /*Suggestion: delete font-family since we have established a standard font 
    for html and header, nav, h1 (see under Style LayOut Page) for all pages to 
    maintain consistency within website*/
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center
}


    /* ===== SECTION ONE ==== */   
.sec-one {
     background: none;
    height: 400px;
    width: 500px;
}


    /* ===== SECTION TWO ==== */   
.sec-two {
     background: none;
    height: 400px;
}

    /* ===== SECTION THREE ==== */   

.sec-three {
     background: none;
    height: 400px;
}
    /* ===== SECTION FOUR ==== */   
.sec-four {
     background-color: none;
    height: 400px;
}


    /* ===== FOOTER ==== */ 
footer {
    background-color: pale;
    height: 150px;}


















