/*CSS reset*/
/*Why the error message in Line 7?*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 16px;
}
    
/*started to establish styling for the pages in the website with the Exception
of the HomePage file which is file: style-jk.css. 
I have been using the Landmark page as "the test"to view the style updates
There is an issue with the nav bar that it shows as visited ,but will not 
revert to not visited once you close out of the website. Trying to resolve but 
stumped... any recommendations for solves would be fantastic!FYI added a section
tag to each HTML so can have another option for styling in the webpage.Lynne 
*/
/*Once resolved I will add the Nav Bar to other pages.Lynne*/

html{font-family: 'Open Sans',"Book Antiqua",Palatino sans-serif;


}

header,nav,h1{font-family:'Raleway',Georgia,"Times New Roman" sans-serif;


} 



header{text-align:center;
       padding:20px 15px;
       font-weight: bold;
       font-size: 25px;
       margin:5px 0px;
       
}

/*suggestion:style in Home Page nav bar and Nav bar in other 
web pages should align*/
nav ul {
    list-style-type: none;
    margin-bottom:25px;
    padding: 0;
    background-color: #EAEAEA;
    display:flex;
    justify-content:space-around;
    height: 30px;
    }  


 /*background-color: #EAEAEA; This is light gray color for the nav background */
  


nav li a:link {
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
      
}



nav li a:visited {
    color: #82D173;
    
}


nav li a:hover {
        color: #ffffff;
        background-color:#FFCF56;
        
}


section {
        margin-bottom: 10px;
        border:3px #C0C0C0 solid;
        padding:5px;
        /*background-color:rgba(234, 234, 234, .50);*/
        /*#EAEAEA; because there are so many different colors in Website and in 
        each page within the website-might be best to keep the 
        background color no color*/

}


img{
    height: 30%;
    width: 30%;
    margin-right:15px;

}


.flex-container{display:flex;
                align-items:center;
                

}



p{margin-bottom: 10px;


}








